In [1]:


import os
import torch
import pandas as pd
from skimage import io, transform
import numpy as np
import matplotlib.pyplot as plt
from torch.utils.data import Dataset, DataLoader
from torchvision import transforms, utils

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

plt.ion()

In [53]:


file_name_list = os.listdir('D:\\Master')

file_name_list

['data',
 'artsobservasjoner_bilder',
 'images_hrefs_csv35100.csv',
 '2327_dataframe_to_images2023-08-22.csv',
 '3000_dataframe_to_images.csv',
 '4516_dataframe_to_images2023-08-19.csv',
 '5484_dataframe_to_images2023-08-20.csv',
 '1000_dataframe_to_images.csv',
 '1000_dataframe_to_images2023-08-16.csv',
 '2800_dataframe_to_images2023-08-21.csv',
 '3000_dataframe_to_images2023-08-21.csv',
 '3101_dataframe_to_images2023-08-19.csv',
 '3471_dataframe_to_images2023-08-20.csv',
 '4201_dataframe_to_images2023-08-21.csv',
 '4308_dataframe_to_images2023-08-17.csv',
 '5000_dataframe_to_images2023-08-17.csv',
 '5688_dataframe_to_images2023-08-18.csv',
 'images_hrefs_csv36324.csv',
 'images_hrefs_csv36900.csv',
 'images_hrefs_csv42516.csv',
 'images_hrefs_csv42552.csv',
 '10000_better_locations_top185.csv',
 '10000_better_lokations_top185.csv',
 '1303228',
 '2083953',
 'koordinater4394.csv',
 'koordinater6945.csv',
 'koordinater31839.csv',
 'skraping_lokasjonsdata_artsobservasjoner.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'from_old_pc']

In [29]:



    
dat = pd.read_csv(f'D://Master/{file_name_list[3]}')
for file_name in file_name_list[4:]:
    if "dataframe_to_images" in file_name:
        dat_temp = pd.read_csv(f'D://Master/{file_name}')
        dat = pd.concat([dat, dat_temp], join="inner")

In [214]:
lok_dat = pd.read_csv('C:/Users/vjosv/master/dataset/lokasjon_csv.csv')

In [31]:
dat.to_csv('whole_image_dataframe.csv')

In [48]:
dat

dat = dat.rename(columns={"id": "Id"})
dat

,Unnamed: 0,image_id,Id,artsnavn,science_name,reporter,redigeringsansvarlig,start_time,end_time,place_name,original_coordinates,STEDFESTINGSNØYAKTIGHET,coordinates,valideringsstatus
0,0,1888548,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,"Ø10,6683357, N59,849202 (±5m) Geographic(WGS 84)",5.0,NaN,NaN
1,1,1516299,25591540,sibirkornell,Swida alba,Eva Weme,Eva Weme,15.11.2020,15.11.2020,Signebøen,"Ø1282458, N8161002 (±5m) Google Mercator",5.0,NaN,NaN
2,2,1269367,22211323,fjellmyrklegg,Pedicularis palustris subsp. borealis,Kristin Bjartnes,Kristin Bjartnes,15.07.2019,15.07.2019,Flottmyra,"Ø1989791, N10819382 (±75m) Google Mercator",75.0,NaN,NaN
3,3,1426488,24899463,stolt henrik,Blitum bonus-henricus,Perry Gunnar Larsen,Perry Gunnar Larsen,02.08.2020,02.08.2020,NaN,"Ø813380, N8723687 (±25m) Google Mercator",NaN,"Ø409646, N6811117 Sone 32 (±25m) UTM(WGS 84)",Godkjent. Foto eller lyd gransket av validator
4,4,1125684,21575470,firblad,Paris quadrifolia,Rune Zakariassen,Rune Zakariassen,30.04.2019,30.04.2019,Pelåsen SV,"Ø1168311, N8397630 (±10m) Google Mercator",10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5683,5683,1416640,24817147,reinmjelt,Oxytropis lapponica,Perry Gunnar Larsen,Perry Gunnar Larsen,23.07.2020,23.07.2020,NaN,"Ø1032430, N9037604 (±443m) Google Mercator",NaN,"Ø514025, N6957029 Sone 32 (±443m) UTM(WGS 84)",Ikke validert (funnet er ikke kvalitetssikret)
5684,5684,1072392,20324491,honningurt,Phacelia tanacetifolia,Ole Bjørn Braathen,Ole Bjørn Braathen,18.09.2018,18.09.2018,Paradisbakkene,"Ø1142262, N8356263 (±25m) Google Mercator",25.0,"Ø570755, N6630273 Sone 32 (±25m) UTM(WGS 84)",Ikke validert (funnet er ikke kvalitetssikret)
5685,5685,649615,15043565,Eurybia sibirica subsp. subintegerrima,Eurybia sibirica subsp. subintegerrima,Reidun Braathen,Reidun Braathen,19.07.2016,19.07.2016,NaN,32VPQ29185255 (±8m) UTM(WGS 84),NaN,"Ø629180, N6952550 Sone 32 (±8m) UTM(WGS 84)",Ikke validert (funnet er ikke kvalitetssikret)
5686,5686,2327065,32646378,molte,Rubus chamaemorus,Theodor Korsgaard,Theodor Korsgaard,07.07.2023,07.07.2023,"Kongsnut vokterbolig, øst for Rallarvegen",NaN,25.0,"Ø422052, N6715748 Sone 32 (±25m) UTM(WGS 84)",NaN
5687,5687,1306681,23591676,hvit nøkkerose,Nymphaea alba,Jan Sørensen,Jan Sørensen,12.08.2019,12.08.2019,Lille Oppsjø,NaN,25.0,"Ø578105, N6631889 Sone 32 (±25m) UTM(WGS 84)",NaN

In [35]:
list(dat['science_name'].value_counts())

dat['science_name'].value_counts()

science_name
Quercus robur                          2239
Fraxinus excelsior                      387
Tilia cordata                           312
Ulmus glabra                            268
Impatiens glandulifera                  260
                                       ...
Lathyrus oleraceus                        1
Listera                                   1
Nasturtium officinale                     1
Amaranthus hybridus subsp. hybridus       1
Elymus alaskanus subsp. borealis          1
Name: count, Length: 1934, dtype: int64

In [38]:
lok_dat

,Unnamed: 0,Id,Taksonsorteringsrekkefølge,Valideringsstatus,Rødlistekategori,Artsnavn,Vitenskapelig navn,Autor,Antall,Enhet,...,Min. dybde,Maks. dybde,Høyde min,Høyde maks,Offentlig samling,Privat samling,Bekreftelsesdato,Redigeringsansvarlig,Rapportør,Observatører
0,0,29974575,4557000,Ikke validert (funnet er ikke kvalitetssikret),NaN,liljekonvall,Convallaria majalis,L.,-,,...,NaN,NaN,NaN,NaN,NaN,,NaN,Rune Zakariassen,Rune Zakariassen,"Anne Stine Zakariassen, Rune Zakariassen"
1,1,29974574,685000,Ikke validert (funnet er ikke kvalitetssikret),NaN,gullris,Solidago virgaurea,L.,-,,...,NaN,NaN,NaN,NaN,NaN,,NaN,Rune Zakariassen,Rune Zakariassen,"Anne Stine Zakariassen, Rune Zakariassen"
2,2,29974570,3095000,Ikke validert (funnet er ikke kvalitetssikret),NaN,selje,Salix caprea,L.,-,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,Sigrun Vik Nilsen,Sigrun Vik Nilsen,Sigrun Vik Nilsen
3,3,29974569,2276000,Ikke validert (funnet er ikke kvalitetssikret),NaN,rødkløver,Trifolium pratense,L.,-,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,Sigrun Vik Nilsen,Sigrun Vik Nilsen,Sigrun Vik Nilsen
4,4,29974568,4046000,Ikke validert (funnet er ikke kvalitetssikret),NaN,stornesle,Urtica dioica,L.,-,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,Sigrun Vik Nilsen,Sigrun Vik Nilsen,Sigrun Vik Nilsen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095613,3095613,12021210,3680000,Ikke validert (funnet er ikke kvalitetssikret),NaN,myrhatt,Comarum palustre,L.,-,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,Mats Nettelbladt,Mats Nettelbladt,"Målfrid Ergon, Rolf Ergon, Mats Nettelbladt"
3095614,3095614,12021209,3677000,Ikke validert (funnet er ikke kvalitetssikret),LO,småildkvede,Chaenomeles japonica,[(Thunb.) Lindl. ex Spach],1,Planter,...,NaN,NaN,NaN,NaN,NaN,,NaN,Agnes Lyche Melvær,Agnes Lyche Melvær,"Jørgen Amos Ruud, Agnes Lyche Melvær"
3095615,3095615,12021208,3675000,Ikke validert (funnet er ikke kvalitetssikret),SE,skogskjegg,Aruncus dioicus,(Walter) Fernald,1,Planter,...,NaN,NaN,NaN,NaN,NaN,,NaN,Bjørn Hollingsæter,Bjørn Hollingsæter,Bjørn Hollingsæter
3095616,3095616,12021206,3675000,Ikke validert (funnet er ikke kvalitetssikret),SE,skogskjegg,Aruncus dioicus,(Walter) Fernald,1,Planter,...,NaN,NaN,NaN,NaN,NaN,,NaN,Linn Aasnes,Linn Aasnes,Linn Aasnes
3095617,3095617,12021205,3675000,Ikke validert (funnet er ikke kvalitetssikret),SE,skogskjegg,Aruncus dioicus,(Walter) Fernald,5,Planter,...,NaN,NaN,NaN,NaN,NaN,,NaN,Linn Aasnes,Linn Aasnes,Linn Aasnes

In [46]:
result = pd.merge(dat, lok_dat, on="Id")

In [47]:
result

,Unnamed: 0_x,image_id,Id,artsnavn,science_name,reporter,redigeringsansvarlig,start_time,end_time,place_name,...,Min. dybde,Maks. dybde,Høyde min,Høyde maks,Offentlig samling,Privat samling,Bekreftelsesdato,Redigeringsansvarlig,Rapportør,Observatører
0,0,1888548,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,NaN,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre
1,3014,1888550,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,NaN,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre
2,814,1888550,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,NaN,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre
3,3014,1888550,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,NaN,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre
4,959,1888548,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,NaN,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48034,5663,1396458,24722794,strandreddik,Cakile maritima,Perry Gunnar Larsen,Perry Gunnar Larsen,08.07.2020,08.07.2020,Blindheim Vigra,...,NaN,NaN,NaN,NaN,NaN,,NaN,Perry Gunnar Larsen,Perry Gunnar Larsen,Perry Gunnar Larsen
48035,5667,1267208,23110979,ullbakkestjerne,Erigeron eriocephalus,Jan Ole Olsen,Jan Ole Olsen,29.08.2019,29.08.2019,"Manndalen, Banulavarri 221",...,NaN,NaN,NaN,NaN,NaN,,NaN,Jan Ole Olsen,Jan Ole Olsen,Jan Ole Olsen
48036,5675,1481961,25283775,myrfiol,Viola palustris,Terje Spolén Nilsen,Terje Spolén Nilsen,19.07.2020,19.07.2020,Bitihorn,...,NaN,NaN,NaN,NaN,NaN,,NaN,Terje Spolén Nilsen,Terje Spolén Nilsen,"Marthe Seem, Terje Spolén Nilsen"
48037,5680,525077,12718207,rynkerose,Rosa rugosa,Per Vetlesen,Per Vetlesen,16.06.2015,16.06.2015,Bogvika,...,NaN,NaN,NaN,NaN,NaN,,NaN,Per Vetlesen,Per Vetlesen,Per Vetlesen
48038,5686,2327065,32646378,molte,Rubus chamaemorus,Theodor Korsgaard,Theodor Korsgaard,07.07.2023,07.07.2023,"Kongsnut vokterbolig, øst for Rallarvegen",...,NaN,NaN,NaN,NaN,NaN,,NaN,Theodor Korsgaard,Theodor Korsgaard,Theodor Korsgaard

In [50]:
from pyproj import Proj, transform
import scipy.spatial as spatial

def convert_utm_to_latlon(df, zone_number, zone_letter):
    utm_proj = Proj(proj='utm', zone=zone_number, ellps='WGS84', south=(zone_letter < 'N'))
    lonlat_proj = Proj(proj='latlong', datum='WGS84')
    lon, lat = transform(utm_proj, lonlat_proj, df['Østkoordinat'].values, df['Nordkoordinat'].values)
    
    return pd.DataFrame({'Longitude': lon, 'Latitude': lat})

df_latlon = convert_utm_to_latlon(result, 33, 'N') 


result['lat']=df_latlon['Latitude']
result['long']=df_latlon['Longitude']

In [64]:



path = f'D://Master/artsobservasjoner_bilder'

# path+'/'+o['science_name']+'/'+o['image_id']

In [65]:
s_name = list(result['science_name'])
image_id = list(result['image_id'])
path_list =[]
for i,j in zip(s_name,image_id):
    path_list.append(f'{path}/{i}/{j}')

In [56]:
len(image_id)

48039

In [57]:
len(s_name)

48039

In [60]:
path

'D://Master/artsobservasjoner_bilder/Abies concolor/'

In [67]:
path_list

path_df = pd.DataFrame({'path':path_list})

result['path']=path_df

In [68]:
result

,Unnamed: 0_x,image_id,Id,artsnavn,science_name,reporter,redigeringsansvarlig,start_time,end_time,place_name,...,Høyde maks,Offentlig samling,Privat samling,Bekreftelsesdato,Redigeringsansvarlig,Rapportør,Observatører,lat,long,path
0,0,1888548,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre,59.849205,10.668340,D://Master/artsobservasjoner_bilder/Myrica gal...
1,3014,1888550,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre,59.849205,10.668340,D://Master/artsobservasjoner_bilder/Myrica gal...
2,814,1888550,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre,59.849205,10.668340,D://Master/artsobservasjoner_bilder/Myrica gal...
3,3014,1888550,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre,59.849205,10.668340,D://Master/artsobservasjoner_bilder/Myrica gal...
4,959,1888548,29056394,pors,Myrica gale,Ola Vestre,Ola Vestre,24.04.2022,24.04.2022,Skoklefalltjernet,...,NaN,NaN,,NaN,Ola Vestre,Ola Vestre,Ola Vestre,59.849205,10.668340,D://Master/artsobservasjoner_bilder/Myrica gal...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48034,5663,1396458,24722794,strandreddik,Cakile maritima,Perry Gunnar Larsen,Perry Gunnar Larsen,08.07.2020,08.07.2020,Blindheim Vigra,...,NaN,NaN,,NaN,Perry Gunnar Larsen,Perry Gunnar Larsen,Perry Gunnar Larsen,62.568573,6.056474,D://Master/artsobservasjoner_bilder/Cakile mar...
48035,5667,1267208,23110979,ullbakkestjerne,Erigeron eriocephalus,Jan Ole Olsen,Jan Ole Olsen,29.08.2019,29.08.2019,"Manndalen, Banulavarri 221",...,NaN,NaN,,NaN,Jan Ole Olsen,Jan Ole Olsen,Jan Ole Olsen,69.430480,20.613541,D://Master/artsobservasjoner_bilder/Erigeron e...
48036,5675,1481961,25283775,myrfiol,Viola palustris,Terje Spolén Nilsen,Terje Spolén Nilsen,19.07.2020,19.07.2020,Bitihorn,...,NaN,NaN,,NaN,Terje Spolén Nilsen,Terje Spolén Nilsen,"Marthe Seem, Terje Spolén Nilsen",61.303289,8.808563,D://Master/artsobservasjoner_bilder/Viola palu...
48037,5680,525077,12718207,rynkerose,Rosa rugosa,Per Vetlesen,Per Vetlesen,16.06.2015,16.06.2015,Bogvika,...,NaN,NaN,,NaN,Per Vetlesen,Per Vetlesen,Per Vetlesen,60.601893,11.291064,D://Master/artsobservasjoner_bilder/Rosa rugos...
48038,5686,2327065,32646378,molte,Rubus chamaemorus,Theodor Korsgaard,Theodor Korsgaard,07.07.2023,07.07.2023,"Kongsnut vokterbolig, øst for Rallarvegen",...,NaN,NaN,,NaN,Theodor Korsgaard,Theodor Korsgaard,Theodor Korsgaard,60.570101,7.577916,D://Master/artsobservasjoner_bilder/Rubus cham...

In [69]:
result.to_csv('C:/Users/vjosv/master/dataset/combined_location_image_df.csv')

In [87]:
# dat_without_lok
lok_without_images_dat = lok_dat[~lok_dat['Id'].isin(dat['Id'])]

In [80]:
top_100_images = list(result['science_name'].value_counts().index)[1:101]


top_100_images

['Fraxinus excelsior',
 'Tilia cordata',
 'Ulmus glabra',
 'Draba alpina',
 'Impatiens glandulifera',
 'Acer platanoides',
 'Reynoutria japonica',
 'Hepatica nobilis',
 'Rosa rugosa',
 'Pinus sylvestris',
 'Taxus baccata',
 'Polystichum lonchitis',
 'Daphne mezereum',
 'Lupinus polyphyllus',
 'Primula veris',
 'Caltha palustris',
 'Gymnadenia conopsea',
 'Actaea spicata',
 'Blechnum spicant',
 'Dactylorhiza maculata subsp. fuchsii',
 'Geranium sylvaticum',
 'Platanthera bifolia',
 'Paris quadrifolia',
 'Drosera rotundifolia',
 'Dactylorhiza maculata subsp. maculata',
 'Asplenium septentrionale',
 'Epipactis atrorubens',
 'Saxifraga aizoides',
 'Rubus chamaemorus',
 'Anemone nemorosa',
 'Matteuccia struthiopteris',
 'Chrysosplenium alternifolium',
 'Orchis mascula',
 'Viburnum opulus',
 'Ranunculus glacialis',
 'Arnica montana',
 'Tussilago farfara',
 'Platanthera chlorantha',
 'Dryas octopetala',
 'Mahonia aquifolium',
 'Equisetum hyemale',
 'Draba lactea',
 'Sambucus racemosa subsp. racemosa',
 'Asplenium ruta-muraria',
 'Valeriana sambucifolia',
 'Epipactis helleborine',
 'Geum rivale',
 'Asplenium viride',
 'Galium odoratum',
 'Neottia ovata',
 'Silene dioica',
 'Veronica chamaedrys',
 'Cota tinctoria',
 'Convallaria majalis',
 'Orthilia secunda',
 'Neottia cordata',
 'Noccaea caerulescens',
 'Micranthes tenuis',
 'Gentiana nivalis',
 'Botrychium lunaria',
 'Corallorhiza trifida',
 'Lathraea squamaria',
 'Picea abies',
 'Asplenium trichomanes',
 'Drosera anglica',
 'Draba oxycarpa',
 'Dactylorhiza viridis',
 'Oxalis acetosella',
 'Dactylorhiza majalis subsp. sphagnicola',
 'Cicerbita alpina',
 'Jacobaea vulgaris',
 'Ficaria verna',
 'Harrimanella hypnoides',
 'Ajuga pyramidalis',
 'Rhodiola rosea',
 'Chamaepericlymenum suecicum',
 'Solanum dulcamara',
 'Achillea ptarmica',
 'Hypochaeris maculata',
 'Pinguicula vulgaris',
 'Silene acaulis',
 'Goodyera repens',
 'Carlina vulgaris',
 'Solidago canadensis',
 'Barbarea vulgaris',
 'Maianthemum bifolium',
 'Cypripedium calceolus',
 'Armeria maritima',
 'Phyllodoce caerulea',
 'Cardamine bellidifolia',
 'Gentianella campestris',
 'Ajuga reptans',
 'Linnaea borealis',
 'Cirsium heterophyllum',
 'Cyanus montanus',
 'Polygonatum verticillatum',
 'Leucanthemum vulgare',
 'Dracocephalum ruyschiana',
 'Pseudorchis straminea',
 'Campanula rotundifolia']

In [109]:
top_100_images_dat = result[result['science_name'].isin(top_100_images)]


lok_without_images_dat = lok_without_images_dat.rename(columns={"Vitenskapelig navn": "science_name"})

lok_dat_top100 = lok_without_images_dat[lok_without_images_dat['science_name'].isin(top_100_images)]



points = lok_dat_top100[['Østkoordinat','Nordkoordinat']].to_numpy()




point_tree = spatial.cKDTree(points)

def get_points_within(df_row, dat, distance=1000):

    return_list = point_tree.query_ball_point([[int(df_row['Østkoordinat']),int(df_row['Nordkoordinat'])]], distance)[0]
    return_dat = dat.iloc[return_list]
    # return_list = list(return_dat['Id'])
    # return_list.remove(id)
    return return_dat

In [117]:
a = top_100_images_dat.iloc[0]
a['Østkoordinat']
a = get_points_within(top_100_images_dat.iloc[0],lok_dat_top100)


a = get_points_within(top_100_images_dat.iloc[0],lok_dat_top100,500)


top_100_images_dict = { j:i for i,j in enumerate(top_100_images)}

In [152]:

for count_range in [500,1000]:
    count_list = []
    for i in range(top_100_images_dat.shape[0]):
        count_list.append(np.zeros(100))
        in_range = get_points_within(top_100_images_dat.iloc[i],lok_dat_top100, count_range)
        for sn in in_range['science_name']:
            count_list[i][top_100_images_dict[sn]]+=1

    top_100_images_dat[f'count_in_{count_range}'] = count_list

In [158]:
target_list = []
for sn in list(top_100_images_dat['science_name']):
    target_list.append(top_100_images_dict[sn])
top_100_images_dat['target'] = target_list

In [157]:
for sn in list(top_100_images_dat['science_name'])[0:10]:
    print(sn)

Paris quadrifolia
Paris quadrifolia
Paris quadrifolia
Paris quadrifolia
Fraxinus excelsior
Fraxinus excelsior
Fraxinus excelsior
Fraxinus excelsior
Impatiens glandulifera
Impatiens glandulifera

In [155]:
top_100_images_dat.iloc[0]['count_in_500']

array([0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [159]:
top_100_images_dat

,Unnamed: 0_x,image_id,Id,artsnavn,science_name,reporter,redigeringsansvarlig,start_time,end_time,place_name,...,lat,long,path,count_in_100,count_in_200,count_in_300,count_in_400,count_in_500,count_in_1000,target
19,4,1125684,21575470,firblad,Paris quadrifolia,Rune Zakariassen,Rune Zakariassen,30.04.2019,30.04.2019,Pelåsen SV,...,59.990529,10.495121,D://Master/artsobservasjoner_bilder/Paris quad...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[1.0, 1.0, 2.0, 0.0, 0.0, 6.0, 0.0, 5.0, 0.0, ...",22
20,256,1125685,21575470,firblad,Paris quadrifolia,Rune Zakariassen,Rune Zakariassen,30.04.2019,30.04.2019,Pelåsen SV,...,59.990529,10.495121,D://Master/artsobservasjoner_bilder/Paris quad...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[1.0, 1.0, 2.0, 0.0, 0.0, 6.0, 0.0, 5.0, 0.0, ...",22
21,1518,1125685,21575470,firblad,Paris quadrifolia,Rune Zakariassen,Rune Zakariassen,30.04.2019,30.04.2019,Pelåsen SV,...,59.990529,10.495121,D://Master/artsobservasjoner_bilder/Paris quad...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[1.0, 1.0, 2.0, 0.0, 0.0, 6.0, 0.0, 5.0, 0.0, ...",22
22,509,1125685,21575470,firblad,Paris quadrifolia,Rune Zakariassen,Rune Zakariassen,30.04.2019,30.04.2019,Pelåsen SV,...,59.990529,10.495121,D://Master/artsobservasjoner_bilder/Paris quad...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...","[1.0, 1.0, 2.0, 0.0, 0.0, 6.0, 0.0, 5.0, 0.0, ...",22
41,7,1205686,22531386,ask,Fraxinus excelsior,Siv Moen,Siv Moen,15.08.2019,15.08.2019,Lahaug,...,59.972604,10.955189,D://Master/artsobservasjoner_bilder/Fraxinus e...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 5.0, 0.0, ...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48026,5633,1629074,26882277,liljekonvall,Convallaria majalis,Bente Rian,Bente Rian,29.05.2021,29.05.2021,Frilset,...,60.279156,11.303547,D://Master/artsobservasjoner_bilder/Convallari...,"[0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","[0.0, 0.0, 6.0, 0.0, 2.0, 0.0, 0.0, 1.0, 0.0, ...",53
48032,5657,1187751,22295675,blåklokke,Campanula rotundifolia,Jan Ole Olsen,Jan Ole Olsen,19.07.2019,19.07.2019,"Skardalen, Njirran",...,69.512448,20.675370,D://Master/artsobservasjoner_bilder/Campanula ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",99
48033,5660,2193240,31534601,lind,Tilia cordata,Siri Lie Olsen,Siri Lie Olsen,11.03.2023,11.03.2023,NaN,...,59.720499,10.712651,D://Master/artsobservasjoner_bilder/Tilia cord...,"[3.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, ...","[11.0, 6.0, 7.0, 0.0, 0.0, 2.0, 0.0, 6.0, 0.0,...","[27.0, 11.0, 10.0, 0.0, 0.0, 2.0, 0.0, 8.0, 1....","[36.0, 15.0, 14.0, 0.0, 0.0, 4.0, 0.0, 9.0, 1....","[46.0, 24.0, 17.0, 0.0, 0.0, 5.0, 0.0, 13.0, 1...","[78.0, 47.0, 30.0, 0.0, 0.0, 14.0, 0.0, 34.0, ...",1
48037,5680,525077,12718207,rynkerose,Rosa rugosa,Per Vetlesen,Per Vetlesen,16.06.2015,16.06.2015,Bogvika,...,60.601893,11.291064,D://Master/artsobservasjoner_bilder/Rosa rugos...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 3.0, ...",8
48038,5686,2327065,32646378,molte,Rubus chamaemorus,Theodor Korsgaard,Theodor Korsgaard,07.07.2023,07.07.2023,"Kongsnut vokterbolig, øst for Rallarvegen",...,60.570101,7.577916,D://Master/artsobservasjoner_bilder/Rubus cham...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",28

In [204]:

from sklearn.linear_model import LinearRegression


x = top_100_images_dat['count_in_1000']

y = top_100_images_dat['target']
# x
# x.reshape((-1,1))
y_np = np.array(list(y))
# x

In [205]:
x_list =[]
for i in range(x.size):
    x_list.append(list(x.iloc[i]))

In [206]:
x_np = np.array(x_list)
x_np

array([[ 1.,  1.,  2., ...,  0.,  0.,  0.],
       [ 1.,  1.,  2., ...,  0.,  0.,  0.],
       [ 1.,  1.,  2., ...,  0.,  0.,  0.],
       ...,
       [78., 47., 30., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [203]:
# x_np = x_np.reshape((-1,1))

In [189]:
x_np[0]

array([ 1.,  1.,  2.,  0.,  0.,  6.,  0.,  5.,  0.,  4.,  0.,  0.,  0.,
        0.,  0.,  3.,  0.,  2.,  1.,  0.,  4.,  0.,  5.,  0.,  0.,  0.,
        0.,  0.,  0.,  3.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  4.,  0.,  1.,  0.,  2.,  1.,
        0.,  4.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  1.,  0.,
        0.,  0., 11.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  3.,
        0.,  0.,  0.,  0.,  0.,  2.,  1.,  3.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  9.,  0.,  0.,  0.,  0.,  0.,  0.])

In [207]:
x_np.shape

(11165, 100)

In [208]:
model = LinearRegression()

In [209]:
model.fit(x_np, y_np)

LinearRegression()

In [210]:
model.coef_

array([ 2.42526946e-01, -3.94489408e-01, -3.17453155e-01, -8.33789196e-01,
       -1.57353397e-02, -1.51186842e+00, -2.25586268e-01,  1.24692678e-01,
       -1.01317979e-01,  5.85462392e-01, -6.25579529e-01,  4.19666531e-01,
        1.92323400e-01, -2.71896831e-01, -1.90644112e-01, -1.69239484e-01,
       -9.18016606e-01,  6.47242025e-01, -1.16676180e+00,  1.45078713e+13,
       -4.35753882e-01, -2.41178043e-02, -1.14279072e-01, -6.15341636e-01,
        6.96201532e+12,  4.00787750e-02, -4.56239548e-01,  3.21609530e-02,
       -4.20379858e-01,  1.98601901e-01,  1.46721409e-01, -1.20195986e+00,
       -3.50505707e-01, -3.49609375e-01,  1.03930664e+00, -3.54003906e-01,
        1.98242188e-01,  7.39135742e-01, -5.46875000e-02,  1.13281250e+00,
       -6.73339844e-01,  4.61059570e-01, -8.03523489e+10,  4.51171875e-01,
       -3.55957031e-01, -4.29412842e-01,  1.25683594e+00,  1.75415039e+00,
        2.53906250e-01,  2.94189453e-02,  1.73339844e-01,  1.41601562e-02,
       -4.37255859e-01,  4.12597656e-01,  4.94018555e-01, -1.78710938e-01,
        1.32666016e+00,  1.51855469e-01, -1.42016602e+00, -3.12011719e-01,
        5.14526367e-01,  2.41699219e-01,  3.30566406e-01, -5.43457031e-01,
        2.92907715e-01, -6.70562744e-01,  1.75738525e+00, -6.17187500e-01,
       -2.58670802e+06, -2.84301758e-01,  6.40014648e-01,  4.37683105e-01,
        4.33837891e-01, -9.95483398e-02,  1.74298096e+00, -8.20251465e-01,
        7.21191406e-01, -5.32226562e-01,  2.68798828e-01,  5.49224854e-01,
       -1.00097656e+00, -3.52294922e-01,  7.22900391e-01,  1.54418945e-02,
       -2.01416016e-02, -5.89294434e-01,  1.35498047e-01,  1.00097656e-01,
        7.98095703e-01,  7.35839844e-01,  2.65075684e+00,  3.35937500e-01,
        5.99853516e-01,  1.14746094e-01,  1.02197266e+00, -3.12500000e-01,
        4.43359375e-01,  5.88989258e-01,  9.39208984e-01, -7.62695312e-01])

In [212]:
import statsmodels.api as sm

In [213]:
est = sm.OLS(y_np, x_np)
est2 = est.fit()
print(est2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.418
Model:                            OLS   Adj. R-squared (uncentered):              0.413
Method:                 Least Squares   F-statistic:                              82.77
Date:                Tue, 17 Oct 2023   Prob (F-statistic):                        0.00
Time:                        17:02:06   Log-Likelihood:                         -56377.
No. Observations:               11165   AIC:                                  1.129e+05
Df Residuals:                   11069   BIC:                                  1.136e+05
Df Model:                          96
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.2967      0.076      3.909      0.000       0.148       0.445
x2            -0.0490      0.049     -0.996      0.319      -0.145       0.047
x3            -0.3007      0.091     -3.303      0.001      -0.479      -0.122
x4             1.6404      0.176      9.316      0.000       1.295       1.986
x5             0.0417      0.014      3.070      0.002       0.015       0.068
x6            -0.6948      0.118     -5.898      0.000      -0.926      -0.464
x7             0.9997      0.093     10.751      0.000       0.817       1.182
x8             0.0346      0.081      0.427      0.669      -0.124       0.194
x9             0.0329      0.082      0.401      0.689      -0.128       0.194
x10            0.7353      0.151      4.855      0.000       0.438       1.032
x11            0.4644      0.091      5.130      0.000       0.287       0.642
x12            0.8601      0.376      2.288      0.022       0.123       1.597
x13           -0.1127      0.107     -1.054      0.292      -0.322       0.097
x14            0.8110      0.075     10.747      0.000       0.663       0.959
x15           -0.0519      0.135     -0.384      0.701      -0.317       0.213
x16            0.0229      0.285      0.081      0.936      -0.535       0.581
x17           -1.9372      0.319     -6.071      0.000      -2.563      -1.312
x18            0.7163      0.262      2.729      0.006       0.202       1.231
x19           -3.2233      0.245    -13.170      0.000      -3.703      -2.744
const      -5.812e-15   1.21e-15     -4.795      0.000   -8.19e-15   -3.44e-15
x20           -0.8572      0.223     -3.836      0.000      -1.295      -0.419
x21            0.0629      0.371      0.170      0.865      -0.664       0.790
x22           -1.5540      0.318     -4.880      0.000      -2.178      -0.930
x23           -2.5136      0.664     -3.784      0.000      -3.816      -1.212
x24        -3.355e-15   8.86e-16     -3.788      0.000   -5.09e-15   -1.62e-15
x25           -1.4722      0.261     -5.641      0.000      -1.984      -0.961
x26           -0.6059      0.115     -5.267      0.000      -0.831      -0.380
x27            0.7455      0.411      1.816      0.069      -0.059       1.550
x28            1.8792      0.410      4.585      0.000       1.076       2.683
x29           -0.1330      0.157     -0.847      0.397      -0.441       0.175
x30            1.6503      0.313      5.267      0.000       1.036       2.264
x31           -1.8170      0.365     -4.981      0.000      -2.532      -1.102
x32           -0.4406      0.111     -3.953      0.000      -0.659      -0.222
x33            0.3066      0.222      1.381      0.167      -0.129       0.742
x34            1.3220      0.499      2.651      0.008       0.345       2.299
x35           -0.2737      0.161     -1.696      0.090      -0.590       0.043
x36           -0.5863      0.218     -2.686      0.007      -1.014      -0.158
x37            0.4804      0.350      1.373      0.170      -0.205       1.166
x38            0.2909      0.228      1.276      0.202      -0.156       0.738
x39            0.6205      0.312      1.987      0.047       0.008       1.233
x40            0.5157      0.358      1.439      0.150      -0.187       1.218
x41            0.1130      0.718      0.157      0.875      -1.295       1.521
x42         3.552e-16   1.45e-15      0.245      0.806   -2.48e-15    3.19e-15
x43            1.0609      0.269      3.949      0.000       0.534       1.588
x44            1.3553      0.242      5.608      0.000       0.882       1.829
x45           -1.3862      0.299     -4.630      0.000      -1.973      -0.799
x46           -0.3665      0.286     -1.283      0.200      -0.927       0.194
x47            3.6199      0.525      6.895      0.000       2.591       4.649
x48            1.0592      0.162      6.558      0.000       0.743       1.376
x49           -0.4413      0.223     -1.979      0.048      -0.878      -0.004
x50            0.8958      0.245      3.663      0.000       0.416       1.375
x51           -1.5266      0.306     -4.995      0.000      -2.126      -0.927
x52           -1.4347      0.351     -4.087      0.000      -2.123      -0.747
x53            0.8644      0.207      4.182      0.000       0.459       1.269
x54            1.3469      0.509      2.647      0.008       0.350       2.344
x55           -0.4148      0.454     -0.913      0.361      -1.305       0.475
x56            1.7986      0.307      5.851      0.000       1.196       2.401
x57            0.3305      0.643      0.514      0.607      -0.930       1.591
x58           -3.7776      0.678     -5.573      0.000      -5.106      -2.449
x59           -0.6396      0.227     -2.812      0.005      -1.086      -0.194
x60            4.5536      0.665      6.850      0.000       3.251       5.857
x61           -0.0383      0.265     -0.144      0.885      -0.558       0.481
x62            0.3445      0.182      1.892      0.058      -0.012       0.701
x63            0.1605      0.215      0.748      0.454      -0.260       0.581
x64            4.1306      0.776      5.324      0.000       2.610       5.652
x65           -2.9245      0.732     -3.994      0.000      -4.360      -1.489
x66            1.8604      0.683      2.722      0.007       0.521       3.200
x67            0.5565      0.219      2.546      0.011       0.128       0.985
x68         2.632e-15   5.39e-16      4.884      0.000    1.58e-15    3.69e-15
x69            2.1251      0.466      4.561      0.000       1.212       3.038
x70            0.7670      0.218      3.524      0.000       0.340       1.194
x71            0.5242      0.252      2.082      0.037       0.031       1.018
x72           -1.2751      0.879     -1.451      0.147      -2.997       0.447
x73            0.3357      0.489      0.687      0.492      -0.623       1.294
x74            4.9532      0.612      8.096      0.000       3.754       6.152
x75           -0.6996      0.433     -1.615      0.106      -1.549       0.150
x76            0.4459      0.344      1.295      0.195      -0.229       1.121
x77            0.5886      0.386      1.525      0.127      -0.168       1.345
x78           -0.7041      0.217     -3.246      0.001      -1.129      -0.279
x79            2.3374      0.415      5.627      0.000       1.523       3.152
x80           -0.9181      0.555     -1.653      0.098      -2.006       0.170
x81            0.1951      0.555      0.352      0.725      -0.892       1.282
x82            1.4319      0.243      5.891      0.000       0.955       1.908
x83           -0.0171      0.030     -0.564      0.573      -0.076       0.042
x84            0.5355      0.154      3.479      0.001       0.234       0.837
x85           -0.0175      0.322     -0.055      0.957      -0.648       0.613
x86            0.2374      0.125      1.902      0.057      -0.007       0.482
x87            0.0707      0.225      0.314      0.754      -0.371       0.512
x88           -0.0326      0.514     -0.064      0.949      -1.040       0.975
x89            6.4162      1.536      4.177      0.000       3.405       9.427
x90            5.4709      0.388     14.094      0.000       4.710       6.232
x91           -1.6304      0.291     -5.599      0.000      -2.201      -1.060
x92            1.5028      0.450      3.338      0.001       0.620       2.385
x93            0.8252      0.313      2.638      0.008       0.212       1.438
x94            0.0015      0.385      0.004      0.997      -0.752       0.755
x95           -0.6321      0.256     -2.470      0.014      -1.134      -0.131
x96            2.2076      0.297      7.421      0.000       1.624       2.791
x97            0.5628      0.122      4.625      0.000       0.324       0.801
x98            2.0999      0.593      3.542      0.000       0.938       3.262
x99            1.0482      0.221      4.752      0.000       0.616       1.481
==============================================================================
Omnibus:                      176.235   Durbin-Watson:                   0.719
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              141.014
Skew:                           0.199   Prob(JB):                     2.39e-31
Kurtosis:                       2.620   Cond. No.                     1.33e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 8.4e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [230]:


from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(multi_class='multinomial', solver='lbfgs')
model.fit(x_np, y_np)

LogisticRegression(multi_class='multinomial')

In [ ]:
yhat

In [235]:
yhat = model.predict_proba([list(x_np[0])])
yhat

array([[1.26358454e-02, 6.68124635e-04, 3.83837273e-04, 6.06801394e-09,
        5.04648318e-03, 3.20518902e-03, 6.28195110e-04, 3.24725064e-02,
        6.11384642e-03, 8.31918295e-04, 5.58737300e-03, 1.20233230e-01,
        6.55344356e-03, 2.14526198e-03, 3.35674041e-04, 5.09632341e-03,
        4.00511806e-04, 3.93711056e-02, 1.53570891e-04, 5.85558933e-04,
        7.06740823e-03, 2.52458735e-04, 2.82772678e-01, 1.44854806e-03,
        6.14512762e-04, 5.79593414e-03, 5.91196511e-05, 1.20312739e-05,
        1.06124377e-03, 5.78593659e-05, 3.44232943e-03, 6.88282258e-02,
        3.39979570e-05, 1.07065005e-04, 9.55675100e-09, 8.12407907e-05,
        1.12106420e-02, 1.89452179e-04, 5.77347819e-08, 2.68102127e-04,
        1.95482910e-04, 6.58453177e-09, 1.80295085e-01, 2.86083568e-05,
        6.79278058e-04, 1.54027039e-03, 3.75126524e-03, 1.74119941e-05,
        1.09611296e-04, 1.08302825e-04, 9.80207365e-04, 1.54189512e-03,
        6.89011827e-04, 4.97377909e-03, 5.95430791e-04, 4.45199180e-05,
        4.08574457e-02, 9.37156137e-09, 1.57817316e-07, 8.99818220e-06,
        1.92354504e-04, 9.10216512e-04, 4.92253645e-03, 4.82123218e-03,
        3.15457913e-04, 5.80166833e-09, 7.06744722e-06, 3.93445816e-03,
        1.69381017e-04, 3.17713501e-03, 9.91209809e-04, 1.05114461e-02,
        2.97539833e-08, 1.77976835e-03, 2.74938908e-06, 9.02548538e-05,
        2.58971280e-02, 1.00068604e-03, 1.99640720e-03, 1.68818638e-03,
        1.69230977e-07, 3.94701102e-04, 2.07725535e-05, 1.45912023e-03,
        1.49923946e-04, 2.77152200e-03, 5.73144082e-07, 7.28529098e-06,
        9.08505552e-07, 1.79120778e-08, 9.69705300e-05, 3.12852048e-04,
        8.56794565e-03, 2.11303065e-03, 1.49673913e-03, 8.24612758e-03,
        4.58364159e-02, 3.99492348e-04, 2.46594240e-08, 3.54999708e-03]])

Predicted Class: 1

In [236]:
model.coef_

array([[ 0.14746566,  0.17382274,  0.05529228, ...,  0.01915043,
        -0.03909743,  0.15333295],
       [-0.01594489,  0.23883298,  0.21383696, ...,  0.0202372 ,
        -0.03370963,  0.08331921],
       [ 0.08295713,  0.1795135 ,  0.26239208, ..., -0.07286012,
        -0.03559009,  0.17964062],
       ...,
       [ 0.10526915,  0.06716506, -0.06113959, ...,  0.26449855,
        -0.03588213, -0.1270879 ],
       [-0.20978828, -0.10110921, -0.13299   , ..., -0.02766768,
         0.46227886,  0.03207626],
       [ 0.13682821, -0.12733346,  0.21739508, ..., -0.16444008,
        -0.01387248,  0.23643619]])

In [238]:
np.argmax(yhat)

22

In [239]:
type(model.coef_)

numpy.ndarray

In [ ]:
np.save('test_coef', model.coef_)